html { 
    background: url("http://cdn.pcwallart.com/images/bokeh-wallpaper-2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    background-color: transparent;
}

b{
    font-size: 13px;
    text-transform: uppercase;
    color: lightsalmon;
}

i{
    font-family: Georgia;
    color: hotpink;
}


h1#app-name {
    font-size:64px;
    font-family: "Century Gothic";
    text-transform: uppercase;
    border-bottom: 1px dashed #ffffff;
}

h2#page-header {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: "Century Gothic";
    font-size: 24px;
}

body #page-container {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;

}

 #quotebox{
    position: absolute;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    left: 25%;
    height: 260px;
    padding-left: 7px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 4px solid;
	background-image: url("http://i68.tinypic.com/35k4ntj.png");
}

.btn{
    color: hot;
    background: mediumaquamarine;
    text-transform: uppercase;
    font-family: Courier New;

}

.btn:hover{
    background: white;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}


#quote {
    font-size: 20px; 
    color: white;
    font-family: Courier New, Courier, monospace;
    letter-spacing: 2px;
    line-height: 22px;
}

#author {
    font-size: 18px;
    padding-bottom: 20px;
    padding-right: 5px;
    color: white;
    font-family: century gothic;
    font-style: italic;
    text-align: right;
    text-decoration: italic;
    letter-spacing: 3px;
    text-transform: uppercase;


}

h3{
    text-align: left;
}